<form class="ui form" data-xhr="true" method="post" action="/Account/api/form/Forgot">

    <div class="ui warning message">
        <i class="close icon"></i>
        <div class="header">There was a problem</div>
        <ul class="list"></ul>
    </div>

    <div class="required field">
        <label>Email</label>
        <div class="ui icon input">
            {{{email}}}
            <i class="user icon"></i>
        </div>
    </div>

    <input type="hidden" name="Account__Form__Forgot[route]" value="/Manager" />

    {{{id}}}
    {{{form-token}}}

    <input type="submit" class="fluid ui blue submit button" value="Send Reset Token" />
</form>